@import './../variables';

@mixin g-heading-size-1 {
    font-size: $g-heading-size-1;
}

@mixin g-heading-size-2 {
    font-size: $g-heading-size-2;

}

@mixin g-heading-size-3 {
    font-size: $g-heading-size-3;

}

@mixin g-heading-size-4 {
    font-size: $g-heading-size-4;

}

@mixin g-heading-size-5 {
    font-size: $g-heading-size-5;

}

@mixin g-heading-size-6 {
    font-size: $g-heading-size-6;

}

@mixin g-text-size-large {
    font-size: $g-text-size-large;
}

@mixin g-text-size-default {
    font-size: $g-text-size-default;
}

@mixin g-text-size-small {
    font-size: $g-text-size-small;
}

@mixin g-text-size-extra-small {
    font-size: $g-text-size-extra-small;
}

// font-size: $g-text-size-large;