@import './utility/functions/functions';

// g denotes global, c should be used in components
$g-px-base: 16px;


// Media queries ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$g-screen-mobile-only: 567.98px;
$g-screen-mobile-landscape-up: 568px;
$g-screen-tablet-portrait-up: 768px;
$g-screen-tablet-landscape-up: 992px;
$g-screen-desktop-up: 1200px;
$g-screen-large-desktop-up: 1800px;


// Typography ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// Line height
$g-line-height-text: 1.4;
$g-line-height-heading: 1.2;

// Text
$g-text-size-large-mobile: calculate-rem(16px);
$g-text-size-large: calculate-rem(18px);
$g-text-size-default-mobile: calculate-rem(14px);
$g-text-size-default: $g-px-base;
$g-text-size-small-mobile: calculate-rem(12px);
$g-text-size-small: calculate-rem(14px);
$g-text-size-extra-small: calculate-rem(12px);


// Headings
$g-heading-size-1-mobile: calculate-rem(36px);
$g-heading-size-1: calculate-rem(40px);
$g-heading-size-2-mobile: calculate-rem(28px);
$g-heading-size-2: calculate-rem(32px);
$g-heading-size-3-mobile: calculate-rem(24px);
$g-heading-size-3: calculate-rem(28px);
$g-heading-size-4-mobile: calculate-rem(20px);
$g-heading-size-4: calculate-rem(22px);
$g-heading-size-5-mobile: $g-text-size-large-mobile;
$g-heading-size-5: $g-text-size-large;
$g-heading-size-6-mobile: $g-text-size-default-mobile;
$g-heading-size-6: $g-text-size-default;

// Colors ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// // border
// $g-color-border:;
// $g-color-border-dimmed:;

// // typography
// $g-color-text-default:;
// $g-color-text-dimmed:;
// $g-color-heading-default:;
// $g-color-heading-dimmed:;

// // alerts
// $g-color-danger:;
// $g-color-warning:;
// $g-color-success:;
// $g-color-info:;

// // general palette
// $g-color-primary:;
// $g-color-secondary:;

// Size ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$g-size-four: 4rem;
$g-size-three: 3rem;
$g-size-two: 2rem;
$g-size-one-and-half: 1.5rem;
$g-size-one: 1rem;
$g-size-three-fourths: .75rem;
$g-size-half: .5rem;
$g-size-fourth: .25rem;
$g-size-eighth: .125rem;

// Margins ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$g-stack-two: $g-size-two 0 0;
$g-stack-one-and-half: $g-size-one-and-half 0 0;
$g-stack-one: $g-size-one 0 0;
$g-stack-half: $g-size-half 0 0;

// Borders ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$g-border-default: 1px solid $g-color-border;

// Shadows ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// $g-shadow-default:;