@import './../variables';
@import './media-queries';

// Heading styles
@mixin g-heading-base {
    font-family: $g-font-family-heading;
    font-weight: $g-font-weight-heading;
    line-height: $g-line-height-heading;
}

@mixin g-heading-size-1 {
    @include g-heading-base;

    font-size: $g-heading-size-1-mobile;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-heading-size-1;
    }
}

@mixin g-heading-size-2 {
    @include g-heading-base;

    font-size: $g-heading-size-2-mobile;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-heading-size-2;
    }
}

@mixin g-heading-size-3 {

    @include g-heading-base;

    font-size: $g-heading-size-3-mobile;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-heading-size-3;
    }
}

@mixin g-heading-size-4 {

    @include g-heading-base;

    font-size: $g-heading-size-4-mobile;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-heading-size-4;
    }
}

@mixin g-heading-size-5 {
    @include g-heading-base;

    font-size: $g-heading-size-5-mobile;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-heading-size-5;
    }
}

@mixin g-heading-size-6 {
    @include g-heading-base;

    font-size: $g-heading-size-6-mobile;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-heading-size-6;
    }
}

// Text styles
@mixin g-text {
    font-family: $g-font-family-text;
    font-weight: $g-font-weight-text;
    line-height: $g-line-height-text;
}

@mixin g-text-size-large {
    @include g-text;

    font-size: $g-text-size-large-mobile;


    @include for-screen(mobile-landscape-up) {
        font-size: $g-text-size-large;
    }
}

@mixin g-text-size-default {
    @include g-text;

    font-size: $g-text-size-default-mobile;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-text-size-default;
    }
}

@mixin g-text-size-small {
    @include g-text;

    font-size: $g-text-size-small-mobile;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-text-size-small;
    }
}

@mixin g-text-size-extra-small {
    @include g-text;

    font-size: $g-text-size-extra-small-mobile;
}