@import './../variables';
@import './media-queries';

@mixin g-heading-size-1 {
    font-size: $g-heading-size-1-mobile;
    line-height: $g-line-height-heading;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-heading-size-1;
    }
}

@mixin g-heading-size-2 {
    font-size: $g-heading-size-2-mobile;
    line-height: $g-line-height-heading;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-heading-size-2;
    }
}

@mixin g-heading-size-3 {
    font-size: $g-heading-size-3-mobile;
    line-height: $g-line-height-heading;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-heading-size-3;
    }
}

@mixin g-heading-size-4 {
    font-size: $g-heading-size-4-mobile;
    line-height: $g-line-height-heading;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-heading-size-4;
    }
}

@mixin g-heading-size-5 {
    font-size: $g-heading-size-5-mobile;
    line-height: $g-line-height-heading;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-heading-size-5;
    }
}

@mixin g-heading-size-6 {
    font-size: $g-heading-size-6-mobile;
    line-height: $g-line-height-heading;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-heading-size-6;
    }
}

@mixin g-text-size-large {
    font-size: $g-text-size-large-mobile;
    line-height: $g-line-height-text;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-text-size-large;
    }
}

@mixin g-text-size-default {
    font-size: $g-text-size-default-mobile;
    line-height: $g-line-height-text;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-text-size-default;
    }
}

@mixin g-text-size-small {
    font-size: $g-text-size-small-mobile;
    line-height: $g-line-height-text;

    @include for-screen(mobile-landscape-up) {
        font-size: $g-text-size-small;
    }
}

@mixin g-text-size-extra-small {
    font-size: $g-text-size-extra-small-mobile;
}